<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @relationship.user.name %>
</p>

<p>
  <strong>Relationship type:</strong>
  <%= @relationship.relationship_type %>
</p>

<p>
  <strong>Relative user:</strong>
  <%= Relationship.dis_name(@relationship.relative_user_id) %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship), :class => 'btn btn-warning' %>
<%= link_to 'Back', relationships_path, :class => 'btn btn-default' %>
