<h1>Users</h1>
<table class="table table-striped" name="tbl_relationship">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mailing Address</th>
      <th>Gender</th>
      <th>Date of Birth</th>
      <th>Bio</th>
      <th>Total Family Members</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.mailing_address %></td>
        <td><%= user.gender %></td>
        <td><%= user.date_of_birth %></td>
        <td><%= user.bio %></td>
        <td><%= user.tot_fam %></td>
        <td><%= link_to 'Show', user, :class => 'btn btn-primary'%></td>
        <td><%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :class => 'btn btn-success' %>
