<div style="width:450px; margin-left:auto;margin-right:auto">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Mailing_Address:</strong>
  <%= @user.mailing_address %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Date_of_Birth :</strong>
  <%= @user.date_of_birth %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Relationships:</strong> <%= link_to "Add A Relationship", new_relationship_path, :class => 'btn btn-success' %>
</p>
<p>
</div>

<!-- TAKE OUT TABLE -->
<!-- <table class="table">
  <thead>
    <th>Father<th>
    <th>Mother<th>
  </thead>
  <tbody>
    <tr>
      <td>
        <% @user.relationships.each do |relationship| %>
          <%  if relationship.relationship_type == 'Father' %>
            <%=  link_to User.display_name(relationship.relative_user_id), User.find(relationship.relative_user_id) %> 
          <% end %>
     <% end %>
    </td>
    <td>
      <% @user.relationships.each do |relationship| %>
          <%  if relationship.relationship_type == 'Mom' %>
            <%=  link_to User.display_name(relationship.relative_user_id), User.find(relationship.relative_user_id) %> 
          <% end %>
     <% end %>
    </td>
    </tr>
  </tbody>
</table> -->
<!-- TAKE OUT TABLE -->
<div style="width:450px; margin-left:auto;margin-right:auto">
  <table class="table table-striped" name="tbl_relationship">
    <tr>
      <th>Father:</th>
      <td>
     <% @user.relationships.each do |relationship| %>
          <%  if relationship.relationship_type == 'Father' %>
            <%=  link_to User.display_name(relationship.relative_user_id), User.find(relationship.relative_user_id) %> 
          <% end %>
     <% end %>
    </td>
    </tr>
    <tr>
      <th>Mom:</th>
     <td>
     <% @user.relationships.each do |relationship| %>
          <%  if relationship.relationship_type == 'Mom' %>
           <%=  link_to User.display_name(relationship.relative_user_id), User.find(relationship.relative_user_id) %> 
          <% end %>
     <% end %>
    </td>
    </tr>
    <tr>
      <th>Brother:</th>
      <td>
     <% @user.relationships.each do |relationship| %>
          <%  if relationship.relationship_type == 'Brother' %>
           <%=  link_to User.display_name(relationship.relative_user_id), User.find(relationship.relative_user_id) %> 
          <% end %>
     <% end %>
    </td>
    <tr>
      <th>Sister:</th>
      <td>
     <% @user.relationships.each do |relationship| %>
          <%  if relationship.relationship_type == 'Sister' %>
            <%=  link_to User.display_name(relationship.relative_user_id), User.find(relationship.relative_user_id) %> 
          <% end %>
     <% end %>
    </td>
    </tr>
    </tr>
    <tr>
      <th>Son:</th>
      <td>
     <% @user.relationships.each do |relationship| %>
          <%  if relationship.relationship_type == 'Son' %>
            <%=  link_to User.display_name(relationship.relative_user_id), User.find(relationship.relative_user_id) %> 
          <% end %>
     <% end %>
    </td>
    </tr>
    <tr>
      <th>Daughter:</th>
      <td>
     <% @user.relationships.each do |relationship| %>
          <%  if relationship.relationship_type == 'Daughter' %>
           <%=  link_to User.display_name(relationship.relative_user_id), User.find(relationship.relative_user_id) %> 
          <% end %>
     <% end %>
    </td>
    </tr>
    <tr>
      <th>Uncle:</th>
      <td>
     <% @user.relationships.each do |relationship| %>
          <%  if relationship.relationship_type == 'Uncle' %>
          <%=  link_to User.display_name(relationship.relative_user_id), User.find(relationship.relative_user_id) %> 
          <% end %>
     <% end %>
    </td>
    </tr>
    <tr>
      <th>Aunt:</th>
      <td>
     <% @user.relationships.each do |relationship| %>
          <%  if relationship.relationship_type == 'Aunt' %>
            <%=  link_to User.display_name(relationship.relative_user_id), User.find(relationship.relative_user_id) %> 
          <% end %>
     <% end %>
    </td>
    </tr>
    <tr>
      <th>Cousin:</th>
      <td>
     <% @user.relationships.each do |relationship| %>
          <%  if relationship.relationship_type == 'Cousin' %>
            <%=  link_to User.display_name(relationship.relative_user_id), User.find(relationship.relative_user_id) %> 
          <% end %>
     <% end %>
    </td>
    </tr>
</table>
</div>
</p>

<div style="width:450px; margin-left:auto;margin-right:auto">
<%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-warning' %>
<%= link_to 'Back', users_path, :class => 'btn btn-default' %>
</div>